<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false">
    <p><mat-checkbox [(ngModel)]="showWireframe" (change)="toggleWireframe()">Wireframe</mat-checkbox></p>
    <p><button mat-button (click)="loadMesh()" color="primary">Load Mesh</button></p>
  </mat-sidenav>

  <mat-sidenav-content style="display: flex;">
    <div #canvas3dContainer style="flex-grow: 1; width: 50%;  background-color: red;"></div>
    <div #canvas2dContainer style="flex-grow: 1; width: 50%; background-color: blue;"></div>
  </mat-sidenav-content>
</mat-sidenav-container>