<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" style="z-index: 3; overflow:visible;" disableClose="true">
    <p><mat-checkbox [(ngModel)]="showWireframe" (change)="toggleWireframe()">Wireframe</mat-checkbox></p>
    <p><button mat-button (click)="loadMesh()" color="primary">Load Mesh</button></p>
    <mat-form-field>
      <mat-select [(value)]="drawingOption" (change)="selectChanged($event)">
        <mat-option value="camera">Camera</mat-option>
        <mat-option value="select">Select</mat-option>
        <mat-option value="draw">Draw</mat-option>
        <mat-option value="drag">Drag</mat-option>
      </mat-select>
    </mat-form-field>
    <p><mat-slider [min]="0.01" [max]="1" [step]="0.01" [tick-interval]="0.1" [thumb-label]="true" [(ngModel)]="drawRadius" (input)="drawRadiusChanged($event)"></mat-slider></p>
    <p><button mat-button (click)="startSolver()">Start Solver</button></p>
    <p><button mat-button (click)="stopSolver()">Stop Solver</button></p>
   <p><mat-form-field>
      <input matInput placeholder="Lambda" [(value)]="lambda">
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput placeholder="Delta" [(value)]="delta">
    </mat-form-field></p>
  </mat-sidenav>

  <div #sidenavcontent style="display: flex; overflow: hidden; z-index: 2">
    <div #plot3d style="overflow:hidden;z-index:2" [style.height.px]="renderHeight"></div>
    <div style="background-color:dimgrey;overflow: hidden;z-index:2;width:20px;cursor:default;"
        [style.height.px]="renderHeight"
        (mousedown)="mouseDownBar($event)"
        (mouseup)="mouseUpBar()">
    </div>
    <div #plot2d style="overflow:hidden;z-index:2" [style.height.px]="renderHeight"></div>
  </div>
</mat-sidenav-container>